
.flickering-on {
  animation: flick-on 5s infinite;
  -webkit-animation: flick-on 5s infinite;
  -webkit-animation-fill-mode: infinite;
  -moz-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.flickering-off {
  animation: flick-off 8s infinite;
  -webkit-animation: flick-off 8s infinite;
  -webkit-animation-fill-mode: infinite;
  -moz-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes flick-on {
  0% {
    opacity: 0.1
  }
  1% {
    opacity: .8;
    color: white
  }
  2% {
    opacity: .2
  }
  3% {
    opacity: 1
  }
  4% {
    opacity: .1
  }
  5% {
    opacity: 1
  }
  6% {
    opacity: 0.1
  }
  7% {
    opacity: .2
  }
  8% {
    opacity: 1
  }
  9% {
    opacity: .1
  }
  10% {
    opacity: .2
  }
  95%{
    opacity: .1
  }
  100% {
    opacity: 1;
    color: white
  }
}

@-webkit-keyframes flick-on {
  0% {
    opacity: 0
  }
  1% {
    opacity: .8;
    color: white
  }
  2% {
    opacity: .2
  }
  3% {
    opacity: 1
  }
  4% {
    opacity: .1
  }
  5% {
    opacity: 1
  }
  6% {
    opacity: 0
  }
  7% {
    opacity: .2
  }
  8% {
    opacity: 1
  }
  9% {
    opacity: .1
  }
  10% {
    opacity: .2
  }
  95%{
    opacity: .1
  }
  100% {
    opacity: .01;
    color: white
  }
}

@keyframes flick-off {
  0% {
    opacity: .1
  }
  1% {
    opacity: .8;
    color: white
  }
  2% {
    opacity: .1
  }
  3%{
    opacity: 1;
    color: white
  }
  100% {
    opacity: 1;
    color: white
  }
}

@-webkit-keyframes flick-off {
  0% {
    opacity: 1
  }
  1% {
    opacity: .8;
    color: white
  }
  2% {
    opacity: .2
  }
  3% {
    opacity: 1
  }
  4% {
    opacity: .1
  }
  5% {
    opacity: 1
  }
  6% {
    opacity: 0
  }
  7% {
    opacity: .2
  }
  8% {
    opacity: 1
  }
  9% {
    opacity: .1
  }
  10% {
    opacity: .2
  }
  11%{
    opacity: 1;
    color: white
  }
  100% {
    opacity: 1;
    color: white
  }
}
