table, th, td {
   border: 1px solid #444;
}

table {
  border-spacing: 0px;
  margin: 1em auto;
  background-color: #555;
}

th {
  background-color: #000;
}

tfoot td {
  background-color: #222;
  font-size: 20px;
}

th, td {
  padding: 5px;
  text-align: center;
}

td.no-wrap {
  white-space: nowrap;
}

tr:hover td {
  background-color: #888;
}

h1 {
  font-size: 140px;
  font-family: Audiowide, fantasy;
  text-shadow: 5px 5px 5px #FF0000;
  text-align: center;
  margin: 30px auto;
}

h1.map-header{
  font-size: 90px;
}

body {
  background-color: #000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 18px;
  text-shadow: 0 0 3px #FF0000;
  margin: 0;
  cursor: url('/img/cursor.png') 8 8, auto;
}

body.main {
  background-image: url('/img/pizza.png');
}

body.data {
  background-image: url('/img/futuristic-city-wallpaper-7.jpg');
}

h2 {
  font-size: 50px;
  margin: 0;
  font-family: Codystar, cursive;
}

h2.groovy {
  border-width: 30px;
  border-image: url("/img/groovy.png") 50 50 repeat;
  border-style: solid;
  text-align: center;
  background-color: #444;
  background-position: center;
  background-clip: content-box;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

h3 {
  font-family: 'Geostar Fill', cursive;
  font-size: 50px;
  margin: 0;
}

.flex {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding: 0;
}

.column {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  background-color: #333;
  width: 25%;
  font-family: Megrim, cursive;
  border: solid #ff0000;
  border-width: medium;
}

#stores_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.individual_store, .totals, .add_store_div {
  background-color: #333;
  padding: 15px;
  margin: 25px;
  width: 550px;
  border-radius: 5px;
}

footer {
  margin: 30px 0 0 0;
  padding: 20px;
  text-align: center;
  background-color: #000;
  box-shadow: 0px 500px 0px 500px #000;
}

#projections_table {
  /*border-collapse: collapse;*/
}

#projections_table td {
  padding: 3px;
}

#projections_table td input{
  width: 40px;
}

label {
  float: left;
  width: 150px;
  text-align: right;
}

input {
  text-align: center;
}

#store_name_field {
  text-align: left;
    margin-left: 10px;
}

#hours_open_field{
  width: 50px;
    margin-left: 10px;
}

#opening_time_field {
  width: 80px;
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#new_store_button {
  position: fixed;
  text-align: right;
  right: 0;
  top: 0;
  background-color: #333;
  padding: 10px;
}

#map {
  width: 800px;
  height: 500px;
  margin: auto;
  border: 2px solid red;
}

a {
  color: inherit;
  text-decoration: none;
}

.back-button {
  font-size: 30px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid red;
  background-color: #333;
  width: 20%;
  padding: 5px;
}
