table, th, td {
   border: 1px solid black;
}

table {
  border-spacing: 0px;
  margin: 1em;
  background-color: #555;
}

h1 {
  font-size: 140px;
  font-family: Audiowide, fantasy;
  text-shadow: 0 0 5px #FF0000;
}

body {
  background-image: url(futuristic-city-wallpaper-7.jpg);
  background-attachment: fixed;
  color: white;
  text-shadow: 0 0 3px #FF0000;
}

h2 {
  font-size: 60px;
  background-color: #333;
}

#store_hours, #store_locations {
  font-size: 20px;
  background-color: #333;
}
